<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  
  <connectionStrings>
    <add name="ASConnectionString" connectionString="workstation id=AuctionSystem.mssql.somee.com;packet size=4096;user id=say_Hon3y_SQLLogin_1;pwd=gm1hfbbdbj;data source=AuctionSystem.mssql.somee.com;persist security info=False;initial catalog=AuctionSystem"
      providerName="System.Data.SqlClient" />
    <add name="AuctionSystemConnectionString" connectionString="Data Source=LAPTOP;Initial Catalog=AuctionSystem;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

  <system.webServer>
    <defaultDocument>
      <files>
        <add value="Home.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>

</configuration>
